@model IEnumerable<QuachHuyDucBTH2.Models.Employee>
  <p>
    <a  class="btn btn-success" asp-action="Create">Create a Employee</a>
    <a  class="btn btn-success" asp-action="Upload">Upload Employees</a>
</p>
<table class="table table-all">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Address</th>
        <th>Employee Phone</th>
        <th>Employee Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EmployeeID)</td>
            <td>@Html.DisplayFor(m => item.EmployeeName)</td>
            <td>@Html.DisplayFor(m => item.EmployeeAddress)</td>
            <td>@Html.DisplayFor(m => item.EmployeePhone)</td>
            <td>@Html.DisplayFor(m => item.EmployeeEmail)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID" class="btn btn-success">Sửa</a>
                <a asp-action="Delete" asp-route-id="@item.EmployeeID" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
    }
</table>